/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* CSS RESET END **********/



/***** LAYOUT HELPER COLORS ******/

/*
#card {
  background-color: red;
}

#menu {
  background-color: darkgreen;
}

#content {
  background-color: darkorange;
}

footer {
  background-color:darkviolet;
}
*/
/***** END OF LAYOUT HELPER COLORS ******/

/***** LAYOUT ********/
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, .5);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, .5);
}

/***** END OF LAYOUT ********/

body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat repeat;
  background-position: center;
}
#menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#menu ul li{
  display: grid;
  grid-template-rows: 1fr;
  height: 35px;
  border-radius: 10px 10px 0 0;
}

#menu ul li:hover {
  background-color: hsla(300,60%,70%,0.5);
}


#menu ul li a {
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}

#active {
  background-color:hsla(290,60%,70%,0.3)
}
#content, .news{
  padding: 20px 10px 20px 10px;
}


#menu::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9ba7b5+0,9ba7b5+49,9ba7b5+100&0+0,0.51+12,1+30,1+70,0.65+86,0+100 */
background: -moz-linear-gradient(left,  rgba(155,167,181,0) 0%, rgba(155,167,181,0.51) 12%, rgba(155,167,181,1) 30%, rgba(155,167,181,1) 49%, rgba(155,167,181,1) 70%, rgba(155,167,181,0.65) 86%, rgba(155,167,181,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(155,167,181,0) 0%,rgba(155,167,181,0.51) 12%,rgba(155,167,181,1) 30%,rgba(155,167,181,1) 49%,rgba(155,167,181,1) 70%,rgba(155,167,181,0.65) 86%,rgba(155,167,181,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(155,167,181,0) 0%,rgba(155,167,181,0.51) 12%,rgba(155,167,181,1) 30%,rgba(155,167,181,1) 49%,rgba(155,167,181,1) 70%,rgba(155,167,181,0.65) 86%,rgba(155,167,181,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ba7b5', endColorstr='#009ba7b5',GradientType=1 ); /* IE6-9 */
}

h1 {
  text-align: center;
  padding: 5px 5px 10px 5px;
  font-weight: 700;
  padding-bottom: 5px;
}

p {
 padding-top: 20px;
}

#content p, .news p{
  line-height: 20px;
}

#avatar {
  width: 150px;
  height: 150px;
  float: left;
  padding: 10px 10px 10px 0;
  border-radius: 50%;
  filter: grayscale(50%);
}

#avatar:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

.news-image {
  max-width: 20%;
  height: auto;
}

.news-image:hover {
  transform: scale(3);
  transition: all 0.5s ease-in-out;
  overflow: visible;
  z-index: 1;
}

.imagecontainer {
  text-align: center;
  padding-top: 10px;
}

#newsfeed, #content {
  max-height: 70vh;
  overflow: auto;
}

.date {
  text-align: right;
  font-size: 14px;
}



footer {
  padding: 10px;
  line-height: 20px;
}

footer p {
  padding: 0;
}

footer::before {
  content: "";
  display: block;
  height: 1px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9ba7b5+0,9ba7b5+49,9ba7b5+100&0+0,0.51+12,1+30,1+70,0.65+86,0+100 */
background: -moz-linear-gradient(left,  rgba(155,167,181,0) 0%, rgba(155,167,181,0.51) 12%, rgba(155,167,181,1) 30%, rgba(155,167,181,1) 49%, rgba(155,167,181,1) 70%, rgba(155,167,181,0.65) 86%, rgba(155,167,181,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(155,167,181,0) 0%,rgba(155,167,181,0.51) 12%,rgba(155,167,181,1) 30%,rgba(155,167,181,1) 49%,rgba(155,167,181,1) 70%,rgba(155,167,181,0.65) 86%,rgba(155,167,181,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(155,167,181,0) 0%,rgba(155,167,181,0.51) 12%,rgba(155,167,181,1) 30%,rgba(155,167,181,1) 49%,rgba(155,167,181,1) 70%,rgba(155,167,181,0.65) 86%,rgba(155,167,181,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ba7b5', endColorstr='#009ba7b5',GradientType=1 ); /* IE6-9 */

}

#contact {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  overflow: auto;
}

#contact table td{
  padding: 10px;
}

#contact table {
  margin-top: 20px;
}

.facebook {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
}

footer {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

@media (min-width: 700px) {
  #card {
  width: 65vw;
  }
}

@media (min-width: 1024px) {
  #card {
  width: 50vw;
  }
}